.btn-group-toggle {
    max-width: 970px;
}

.labelRadio {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px#F6F6F6 solid;
    width: 180px;
    text-align: center;
    height: 110px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
    opacity: 0.6;
}

.toggleCustom .inputRadio:not(:checked) ~ .labelRadio:hover {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

.toggleCustom .inputRadio:checked ~ .labelRadio {
    border-color: #00947e;
    background-color: #f8f9fa;
    opacity: 1;
}

.dashes {
    @include p(5);
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23DEDEDEFF' stroke-width='2' stroke-dasharray='7%2c 14%2c 12%2c 10' stroke-dashoffset='6' stroke-linecap='square'/%3e%3c/svg%3e");
}

.sadadCheck {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    color: #fff;
}

/*=====================================================================
others
=====================================================================*/
.p-inputtext {
    width: 100%;
}

.p-inputtext,
.p-dropdown {
    border-width: 1px;
}

.p-overlaypanel .p-overlaypanel-content {
    padding: 0;
}

header {
    background-color: #fff;
    background-image: url('../images/ESG_HomepageBreak_1.svg');
    background-size: 50%;
    background-position: center right;
    background-repeat: no-repeat;
    border-bottom: 1px #e9ecf3 solid;
    position: relative;

    .logo {
        height: 70px;
    }
}

footer {
    background-color: #fff;
    border-top: 1px #e9ecf3 solid;
}

.card-stats {
    border-radius: 12px;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
    border-color: #f8f9fa;
    transition: transform 0.3s cubic-bezier(0.34, 2, 0.6, 1), box-shadow 0.2s ease,
        -webkit-transform 0.3s cubic-bezier(0.34, 2, 0.6, 1);

    .card-footer {
        background-color: transparent;
        border: 0;
    }
    .card-body {
        padding: 15px 15px 0;
    }

    .card-footer {
        padding: 0 15px 15px;
    }
}

.bank-logo {
    width: 100%;
}

p-inputnumber {
    .p-button {
        border-radius: 0 !important;
    }
}

/*=====================================================================
Clients Footer
=====================================================================*/
.tanfeethFooter {
    position: relative;
}

.tanfeethFooter .tanfeethFooter-inner {
    overflow: hidden;
    z-index: 1;
    background-color: #2d2d2d;
    position: relative;
    color: #c2c2c2;
}

.tanfeethFooter .tanfeethFooter-inner:before {
    content: '';
    background-image: url(../images/tanfeeth_footer-bg.png);
    opacity: 0.2;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 7%;
}

.tanfeethFooter ul li a {
    display: block;
    color: #c2c2c2 !important;
}

.tanfeethFooter ul li a:hover,
.tanfeethFooter ul li a:focus {
    transform: translate(-3px);
}
