@for $j from 1 to 6 {
    .border-#{$j} {
        border-width: #{$j}px !important;
    }
}

@each $color, $value in $colors {
    .swatch-#{$color} {
        color: color-yiq($value);
        background-color: #{$value};
    }
}

@each $color, $value in $theme-colors {
    .swatch-#{$color} {
        color: color-yiq($value);
        background-color: #{$value};
    }
}

@each $color, $value in $grays {
    .swatch-#{$color} {
        color: color-yiq($value);
        background-color: #{$value};
    }
}

@each $color, $value in $theme-colors {
    .btn-outline-#{$color} {
        &:not(:hover) {
            //background-color: #FFF
        }
    }
}

.btn {
    position: relative;
    overflow: hidden;

    @include hover() {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
}

/* Ripple */
/* Ripple Effect Style like Google Material Buttons Effect*/
.ripplelink {
    /* display:block; */
    /*color:#fff;*/
    text-decoration: none;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index: 0;
}

.ripplelink:hover {
    /*z-index:1000;*/
}

.ink {
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 100%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.ripple-animate {
    animation: ripple 0.65s linear;
}

@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}

// Flexbox

.flex-center {
    @include flex-center;
}
.flex-center-between {
    @include flex-center-between;
}
.flex-center-column {
    @include flex-center-column;
}
.flex-center-vert {
    @include flex-center-vert;
}
.flex-center-horiz {
    @include flex-center-horiz;
}
