@import './bootstrap/scss/functions';
@import './bootstrap/scss/variables';
@import './bootstrap/scss/mixins';

/*=============================================================================
    Bootstrap Override Variables
================================================================================*/
// Main Theme Color
$primary: #273d57; //#273D57
$theme-colors: ();

/*=============================================================================
    Custom Variables
================================================================================*/

$link-hover-decoration: none;
// $font-family-base:          "Almarai", sans-serif;
$line-height-base: 1.7;
// Body
$body-bg: #f3f3f8;
$body-color: #273d57;

// Grid breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    // Small screen / phone
    md: 768px,
    // Medium screen / tablet
    lg: 992px,
    // Large screen / desktop
    xl: 1200px,
    // Extra large screen / wide desktop
    xxl: 1400px,
    // Extra large screen / wide desktop
    xxxl: 1600px //new for dcc,
);

// Grid containers
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px,
);

// Spacing
$spacer: 1rem;
$spacers: ();
$spacers: map-merge(
    (
        0: 0,
        1: (
            $spacer * 0.25,
        ),
        2: (
            $spacer * 0.5,
        ),
        3: $spacer,
        4: (
            $spacer * 2,
        ),
        5: (
            $spacer * 3,
        ),
        6: (
            $spacer * 4,
        ),
        7: (
            $spacer * 6,
        ),
    ),
    $spacers
);

$grid-gutter-width: $font-size-base * 2;
$card-group-margin: $grid-gutter-width / 2;
$card-deck-margin: $card-group-margin;

$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base * 0.85;

// Custom Control
$custom-select-disabled-bg: $gray-200;
$custom-select-bg-size: 13px 16px; // In pixels because image dimensions
$custom-select-indicator-color: #c4c4c4;
$custom-select-indicator: str-replace(
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4.2 5'%3E%3Cpath fill='#{$custom-select-indicator-color}' d='M.5 1.4l-.4.4 2 2 2-2-.4-.4-1.6 1.5'/%3E%3C/svg%3E"),
    '#',
    '%23'
);
$custom-control-indicator-size: 1.35rem;

$custom-checkbox-indicator-border-radius: 2px;
$custom-checkbox-indicator-icon-checked: str-replace(
    url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cpath fill='#{$primary}' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E"),
    '#',
    '%23'
);
$custom-checkbox-indicator-icon-indeterminate: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'><path stroke='#{$primary}' d='M0 2h4'/></svg>");
$custom-checkbox-indicator-indeterminate-border-color: $component-active-bg;

$input-disabled-bg: #fafafa;
$input-group-addon-bg: $input-disabled-bg;
$form-group-margin-bottom: 2rem;

// Table
$table-cell-padding: 1.2rem;
$table-striped-order: even;
$table-accent-bg: #fdfdfd;
$table-hover-bg: #f9f9f9;

// Buttons + Forms
$box-shadow-sm: 0 1px 6px rgba($black, 0.075);
$border-radius-lg: 9px;
$btn-border-radius-lg: $border-radius-lg;
$input-border-width: 3px;
$input-border-color: $gray-200;
$input-placeholder-color: $gray-400;
$input-focus-box-shadow: $box-shadow;

$headings-margin-bottom: $spacer / 4;

$link-color: theme-color('primary');
$pagination-color: $link-color;
