html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  @include media-breakpoint-up(lg) {
    font-size: 15px;
  }
  @include media-breakpoint-down(md) {
    font-size: 13px;
  }
}

a{
  transition: all .2s ease-in;
}

* {
  &:active,
  :focus {
    outline: none !important;
  }
}

code {
  white-space: nowrap;
  border-radius: 10px;
  padding: 0 8px 1px 8px;
}

ol, ul, dl{
  padding: 0;
  list-style: none;
}


/*=====================================================================
PrimNg
=====================================================================*/

.p-inputtext, .p-component{
  // font-family: 'Almarai';
  font-weight: 600;
}

.p-inputtext, .p-dropdown{
  border-width: 3px;
  border-radius: 4px;
  background: #FCFDFD;
}
.p-fluid .p-buttonset{
  direction: ltr;
}
.p-dropdown-label.p-placeholder{
  color: #999;
}
.p-dropdown-label:not(.p-placeholder){
  color: $primary;
  font-weight: 600;
}

.p-field-checkbox, .p-field-radiobutton {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;

  label{
    margin-bottom: 0;
    line-height: 1.6;
    
    [dir="rtl"] & {
      margin-right: .7rem;
    }
    [dir="ltr"] & {
      margin-left: .7rem;
    }
  }
}

.p-checkbox .p-checkbox-box{
  box-shadow: 0px 1px 8px #00000040;
  border-color: #fff;

}

.languages .p-menuitem-text{
  margin-right: .2rem;
  margin-left: .2rem;
  font-size: 1.1rem;
  font-weight: 400;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link{

  border-radius: 0;
  margin-right: .2rem;
  margin-left: .2rem;
  font-size: 1.1rem;
  font-weight: 400;

  &:not(:hover){
    .p-menuitem-text{

      .homePage &{
        color: #fff;
      }
    }

  }

  &:focus{
    box-shadow: 0 0 0 0;
  }

  .p-menuitem-text{
    color: $primary;
    
  }
}

.p-menuitem-link-active{
  border-bottom: 4px #4A90E2 solid;
}
 
.homePage .p-menubar-root-list{
  @include media-breakpoint-down(md) {
    background-color: $primary;
  }
}


.p-menubar{
  color: inherit;
  background-color: transparent;
  border: 0;
}
.p-menubar-end{
  margin-right: auto;
  margin-left: auto;

  .navbar-end{
    display: flex;

    @include media-breakpoint-down(md) {
      margin-top: 1.5rem;
    }
  }
}

p-menubarsub{
  flex-grow: 1;

  ul.p-menubar-root-list{
    justify-content: flex-end;
  }
}

.p-menubar .p-menubar-button{
  background-color: #fff;
  box-shadow: 0 1px 6px #00000040;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.p-selectbutton .p-button.p-highlight{
  background: $primary;
    border-color: $primary;
}